<div class="container my-5" style="display: flex; flex-direction: column">
  <h2 class="text-center">My Education</h2>
  <p class="text-center">
    shown below my education history and specialisation courses I've completed.
  </p>
  <div>
    <div class="education">
      <!-- education  -->
      <div class="sahrdaya card my-2 p-3">
        <div class="">
          <img src="https://img.icons8.com/color/96/000000/developer.png" />
        </div>
        <div class="card-body">
          <h5 class="card-title display-6" style="font-size: 1.4rem">
            Faith Infotech, Trivandrum.
          </h5>
          <h4 class="card-title my-1" style="font-size: 1.2rem">
            Full Stack Web Development.
          </h4>
          <h4 class="card-title my-1" style="font-size: 1.2rem">
            2021 December - 2022 February
          </h4>
          <p class="card-text">
            Technologies : Angular, Dotnet, SQL Server, Mongo DB, Git
          </p>
          <p class="card-text">
            Projects : Care Clinic management System, DateNChat Dating App,
            Expense Tracker
          </p>
        </div>
      </div>
      <!-- end education  -->
      <!-- education  -->
      <div class="sahrdaya card my-2 p-3">
        <div class="">
          <img src="https://img.icons8.com/color/48/000000/paint.png" />
        </div>
        <div class="card-body">
          <h5 class="card-title display-6" style="font-size: 1.4rem">
            Coursera
          </h5>
          <h4 class="card-title my-1" style="font-size: 1.2rem">
            Google UX Design Professional
          </h4>
          <h4 class="card-title my-1" style="font-size: 1.2rem">2021</h4>
          <p class="card-text">Technologies : Figma, Adobe XD</p>
          <p class="card-text">
            Skills : User Experience (UX), UX Research, Wireframe, Prototype,
            User Experience Design (UXD), mockup
          </p>
          <p class="card-text">Projects : Flowly, Find a Garden Designer</p>
        </div>
      </div>
      <!-- end education  -->
      <!-- education  -->
      <div class="sahrdaya card my-2 p-3">
        <div class="">
          <img src="https://img.icons8.com/color/96/000000/university.png" />
        </div>
        <div class="card-body">
          <h5 class="card-title display-6" style="font-size: 1.4rem">
            Sahrdaya College Of Engineering and Technology, Kodakara.
          </h5>
          <h4 class="card-title my-1" style="font-size: 1.2rem">
            Electronics and Communication Engineering
          </h4>
          <h4 class="card-title my-1" style="font-size: 1.2rem">2015 - 2019</h4>
          <p class="card-text">
            University : Dr APJ Abdul Kalam Technological University, Trivandrum
          </p>
          <p class="card-text">
            Projects : Drainage Cleaning Robot, Thief Cam, Arduino controlled
            robotic arms
          </p>
          <p class="card-text">
            Achievements : IEEE Design Coordinator and Execom member, Design
            Lead AKSC 2017-18, Technical Coordinator Ketcon
          </p>
        </div>
      </div>
      <!-- end education  -->
      <!-- education  -->
      <div class="sahrdaya card my-2 p-3">
        <div class="">
          <img
            src="https://img.icons8.com/color/96/000000/school-building.png"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title display-6" style="font-size: 1.4rem">
            Government Higher Seconday School, Kodakara.
          </h5>
          <h4 class="card-title my-1" style="font-size: 1.2rem">
            Biology Science
          </h4>
          <h4 class="card-title my-1" style="font-size: 1.2rem">2012 - 2014</h4>
        </div>
      </div>
      <!-- end education  -->
      <!-- education  -->
      <div class="sahrdaya card my-2 p-3">
        <div class="">
          <img src="https://img.icons8.com/color/96/000000/classroom.png" />
        </div>
        <div class="card-body">
          <h5 class="card-title display-6" style="font-size: 1.4rem">
            Sree Krishna Higher Secondary School, Anandapuram.
          </h5>
          <h4 class="card-title my-1" style="font-size: 1.2rem">Science</h4>
          <h4 class="card-title my-1" style="font-size: 1.2rem">2008 - 2012</h4>
        </div>
      </div>
      <!-- end education  -->
    </div>
  </div>
</div>
