.card {
  border: none;
  border-radius: 0px;
  // background: #ffffff;
  box-shadow: 5px 5px 40px #f0f0f0, -5px -5px 40px #ffffff;
}
.sahrdaya {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;

  img {
    width: 8rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .sahrdaya {
    p {
      font-size: 0.8rem;
      text-align: justify;
    }
  }
}
