<div class="main">
  <!-- navbar  -->
  <nav
    class="navbar navbar-expand-lg shadow navbar-dark"
    style="background-color: #001219"
  >
    <div class="container-fluid">
      <a class="navbar-brand"
        ><img class="img-fluid logo" src="assets/white.png" alt=""
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"> </span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active px-3 mt-3 mx-2 text-light"
              aria-current="page"
              routerLink="/uiux"
              style="cursor: pointer"
              ><h4>UI/UX Projects</h4></a
            >
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link active px-3 mt-3 mx-2 text-light"
              aria-current="page"
              ><h4>Development</h4></a
            >
          </li> -->
          <li class="nav-item">
            <a
              class="nav-link active px-3 mt-3 mx-2 text-light dark"
              routerLink="/"
              ><img
                class="moon"
                src="https://img.icons8.com/cotton/64/000000/moon-satellite.png"
              />
              Go Light</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end nav bar -->
  <!-- main section -->
  <div
    class="container-fluid my-2"
    style="
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-basis: 1;
    "
  >
    <div class="row">
      <div class="myimage p-3 col-md-4">
        <img class="img mypic" src="assets/dp.jpg" alt="" />
      </div>
      <div class="col-md-8">
        <p class="heading text-center mt-5">Hello, I'm</p>
        <svg viewBox="0 0 580 100">
          <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Sreehari.</text>
            <text text-anchor="middle" x="50%" y="80%">Sreehari.</text>
          </symbol>

          <g class="g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
          </g>
        </svg>
        <div class="abt">
          <p class="text-center">
            I am a self-taught web developer and designer. I have a passion for
            learning new technologies and building things that make a
            difference.
          </p>
        </div>
        <div class="mypower">
          <div class="designer item">
            <p class="text-center">
              <img src="https://img.icons8.com/color/48/000000/paint.png" />
              UI/UX Designer
            </p>
          </div>
          <div class="developer item">
            <p class="text-center">
              <img
                src="https://img.icons8.com/color/48/000000/developer--v1.png"
              />Developer
            </p>
          </div>
          <div class="Tester item">
            <p class="text-center">
              <img
                src="https://img.icons8.com/color/48/000000/ladybird.png"
              />Tester
            </p>
          </div>
        </div>
        <div class="skills my-4">
          <div class="it">
            <div class="skill">Angular</div>
            <div class="skill">React</div>
            <div class="skill">Html</div>
            <div class="skill">CSS,SCSS</div>
            <div class="skill">Javascript</div>
            <div class="skill">C#</div>
            <div class="skill">DotNET</div>
            <div class="skill">Bootstrap</div>
            <div class="skill">Figma</div>
            <div class="skill">Adobe XD</div>
            <div class="skill">SQL</div>
            <div class="skill">NOSQL</div>
            <div class="skill">Python</div>
            <div class="skill">Git</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end main section -->
  <!-- my works  -->
  <div
    class="band mx-2"
    style="
      height: 10px;
      background: linear-gradient(to right, #bd0034, #023e8a);
      border-radius: 2rem;
    "
  ></div>
  <app-works-dark></app-works-dark>
  <div
    class="band mx-2"
    style="
      height: 10px;
      background: linear-gradient(to right, #bd0034, #023e8a);
      border-radius: 2rem;
    "
  ></div>
  <app-experince-dark></app-experince-dark>
  <div
    class="band mx-2"
    style="
      height: 10px;
      background: linear-gradient(to right, #bd0034, #023e8a);
      border-radius: 2rem;
    "
  ></div>
  <app-education-dark></app-education-dark>
  <!-- <app-education> </app-education> -->
  <div
    class="band mx-2"
    style="
      height: 10px;
      background: linear-gradient(to right, #bd0034, #023e8a);
      border-radius: 2rem;
    "
  ></div>
  <app-contact-dark></app-contact-dark>
</div>
