<div class="container my-5">
  <h2 class="text-center">My Career</h2>
  <p class="text-center">shown below is my overall career experiance.</p>
  <div class="career">
    <!-- career  -->
    <div class="experion card my-2 p-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/1437629876436_Experion_Logo.png"
            class="img-fluid rounded-start"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-6" style="font-size: 1.4rem">
              Assosiate Software Engineer
            </h5>
            <h4 class="card-title my-1" style="font-size: 1.2rem">
              2021 December - Present
            </h4>
            <p class="card-text">
              Experion Technologies is a 14+ year old IT solutions & services
              company with a focus on digital technologies. With over 300
              customers across 32 countries, Experion uses the power of Mobile,
              Web, Analytics, Cloud, and Digital technologies to unlock the
              potential of businesses across verticals.
            </p>
            <p class="my-2">
              Technologies : Angular, Dotnet, Sql Server, Mongo DB, AWS, Git
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end career  -->
    <!-- career  -->
    <div class="experion card my-2 p-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/logo-02.png"
            class="img-fluid rounded-start bg-primary"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-6" style="font-size: 1.4rem">
              UI/UX Designer
            </h5>
            <h4 class="card-title my-1" style="font-size: 1.2rem">
              2021 September - 2021 November
            </h4>
            <p class="card-text">
              Kiebot Learning Solutions is one of the best mobile application
              development, website development, and an IT consulting company set
              up in the beautiful city Kannur on the northern side of Kerala
              State in India. Kiebot aims at delivering cost-effective IT
              solutions ensuring excellent quality products. The company centers
              around conveying a wide range of custom software products, web
              solutions, and smartphone apps that empower business associations
              to work productively and adequately. We, the Kiebot team believe
              that time is a significant success-ingredient for any business and
              hence we are committed to delivering our products, services, and
              solutions on time with quality.
            </p>
            <p class="my-2">
              Technologies : Figma, Adobe XD, Framer, Photoshop, Illustrator
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end career  -->
    <!-- career  -->
    <div class="experion card my-2 p-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="../../../assets/Logo-Horizontal-1.png"
            class="img-fluid rounded-start bg-dark"
            alt="..."
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title display-6" style="font-size: 1.4rem">
              Quality Analyst Engineer
            </h5>
            <h4 class="card-title my-1" style="font-size: 1.2rem">
              2021 April - 2021 September
            </h4>
            <p class="card-text">
              Coderythm Technology Private Limited is a Private incorporated on
              27 October 2014. It is inolved in Software publishing, consultancy
              and supply [Software publishing includes production, supply and
              documentation of ready-made (non-customized) software, operating
              systems software, business & other applications software, computer
              games software for all platforms. Consultancy includes providing
              the best solution in the form of custom software after analyzing
              the users needs and problems.
            </p>
            <p class="my-2">
              Technologies : Software Testing, User Flows and User experiance
              Foundations, HTML, CSS , Bootstrap, Javascript, Postman, Node JS
              basics, React Native Basics.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end career  -->
  </div>
</div>
