@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;400&family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:wght@100;400&family=Roboto+Serif:wght@100;300;400;500;800&family=Shizuru&display=swap");

.logo {
  width: 7rem;
}
.tag {
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  //
}
.btn:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
.btn {
  background-color: #002878;
  background-image: linear-gradient(
    45deg,
    #023e8a 0%,
    #bd0034 55%,
    #023e8a 90%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: all 0.5s ease;
}
a {
  text-decoration: none;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 200;
}
.mycard {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0 20px 0;
  // margin: 20px;

  // max-width: 800px;
  // min-width: none;
}
.card {
  border: none;
  border-radius: 0px;
  // background: #ffffff;
  box-shadow: 5px 5px 40px #f0f0f0, -5px -5px 40px #ffffff;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
}
.card1 {
  display: flex;
  // flex-wrap: wrap;
}
img {
  width: 25rem;
  // padding: 1rem;
  margin: 0.5rem;
}
.carousel-inner {
  display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   border-radius: 2rem;
  .carousel-item {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3rem;
    border-radius: 2rem;
    img {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 60%;
      //   border: #051236 solid 1px;
      //   box-shadow: 5px 5px 20px #023047, -5px -5px 20px #023047;
      box-shadow: 5px 5px 40px #f0f0f0, -5px -5px 40px #ffffff;
    }
  }
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 1;
}
.mycard {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .card1 {
    flex-wrap: wrap;
  }
  p {
    font-size: 0.8rem;
    font-weight: light;
    // width: 20rem;
    text-align: justify;
  }
  img {
    width: 12rem;
  }
  .card1 {
    .btn {
      font-size: 0.9rem;
      padding: 8px;
    }
    .p {
      display: flex;
      justify-content: center;

      p {
        font-size: 0.8rem;
        font-weight: light;
        // text-align: justify;
        // text-overflow: clip;
      }
      max-width: 13rem;
      min-width: 8rem;
    }
    max-width: 16rem;
    min-width: 2rem;
  }
}
