<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="container-fluid d-flex justify-content-center mt-2">
    <h2 class="tag">UI/UX Designs</h2>
  </div>
</nav>

<!-- content  -->
<div class="container">
  <div class="mycard">
    <div class="card1 py-2 my-3 d-flex flex-row">
      <a href=""><img src="assets/students (4).png" alt="" /></a>
      <div class="content p-3">
        <h2>Edtube Students</h2>
        <div class="p">
          <p>
            edtube is an upcoming e learning platform that will help students to
            learn through online portal.This design is done as part of my
            professional career and could not reveal much details. request
            access for pdf and basic details.
          </p>
        </div>
      </div>
    </div>
    <div class="download">
      <button class="btn">
        <a
          href="https://drive.google.com/file/d/1FTNiDZmrxRn-1ZNvl3Q8Zi5CuNZAyQG5/view?usp=sharing"
          >Request File Access</a
        >
      </button>
    </div>
    <!-- expand  -->
  </div>
  <div class="mycard">
    <div class="card1 py-2 my-3 d-flex flex-row">
      <a href=""><img src="assets/Thumbnail.png" alt="" /></a>
      <div class="content p-3">
        <h2>Edtube Teachers</h2>
        <div class="p">
          <p>
            edtube is an upcoming e learning platform that will help students to
            learn through online portal. This portal is made for teachers to
            manage students. This design is done as part of my professional
            career and could not reveal much details. request access for pdf and
            basic details.
          </p>
        </div>
      </div>
    </div>
    <div class="download">
      <button class="btn">
        <a
          href="https://drive.google.com/file/d/1eHax-1d3a6cDOnhTgCh-lDKvWSBwiHdC/view?usp=sharing"
          >Request File Access</a
        >
      </button>
    </div>
    <!-- expand  -->
  </div>
  <div class="mycard">
    <div class="card1 py-2 my-3 d-flex flex-row">
      <a href=""><img src="assets/coderythm.png" alt="" /></a>
      <div class="content p-3">
        <h2>Coderythm Static web page</h2>
        <div class="p">
          <p>
            COderythm is an IT solutions company that provides IT solutions and
            services. This design is based on the original company website and
            is made as part of my learning process and link for pdf is given
            below.
          </p>
        </div>
      </div>
    </div>
    <div class="download">
      <button class="btn">
        <a
          href="https://drive.google.com/file/d/1KKS7aAGIjw0F2n4frZiq08Nl_kOg7q5J/view?usp=sharing"
          >Request File Access</a
        >
      </button>
    </div>
    <!-- expand  -->
  </div>
  <div class="mycard">
    <div class="card1 py-2 my-3 d-flex flex-row">
      <a href=""><img src="assets/Sleepwell (2).png" alt="" /></a>
      <div class="content p-3">
        <h2>SleepWell mattresses</h2>
        <div class="p">
          <p>
            An e commerce website that sells mattresses and bedding. This
            project was created as part of learning process and pdf access link
            is given below.
          </p>
        </div>
      </div>
    </div>
    <div class="download">
      <button class="btn">
        <a
          href="https://drive.google.com/file/d/1Cj3dSZXHSDmER-3Hh22FQADvVe1LcvLh/view?usp=sharing"
          >Request File Access</a
        >
      </button>
    </div>
    <!-- expand  -->
  </div>
</div>
