.mycard {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 0 20px 0;
  // margin: 20px;

  // max-width: 800px;
  // min-width: none;
}
.pro {
  display: flex;
}
.card {
  border: none;
  border-radius: 0px;
  // background: #ffffff;
  box-shadow: 5px 5px 40px #f0f0f0, -5px -5px 40px #ffffff;
  max-width: 550px;
  min-width: 500px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.01);
  }
  p {
    img {
      width: 2rem;
      // padding: 1rem;
      margin: 0.5rem;
    }
  }
}
.cont {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.card1 {
  border: none;
  border-radius: 0px;
  // background: #ffffff;
  box-shadow: 5px 5px 40px #f0f0f0, -5px -5px 40px #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  padding: 20px;
  margin: 20px;

  &:hover {
    transform: scale(1.01);
  }
  img {
    margin-top: 2rem;
    width: 30rem;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  // align-items: center;
  padding: 20px;
  .content {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 1.2rem;
      font-weight: light;
      width: 20rem;
      text-align: justify;
    }
  }
}
// button gradient
.btn {
  background-color: #002878;
  background-image: linear-gradient(
    45deg,
    #023e8a 0%,
    #bd0034 55%,
    #023e8a 90%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  border-radius: 50px;
  padding: 12px 48px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: all 0.5s ease;
}

.btn:hover {
  box-shadow: 0 0px 0px 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}
@media screen and (max-width: 600px) {
  .mycard {
    p {
      font-size: 0.8rem;
      font-weight: light;
      // width: 20rem;
      text-align: justify;
    }
    .img {
      display: flex;
      justify-content: center;
      img {
        width: 10rem;
      }
    }
    .card {
      max-width: 16rem;
      min-width: 2rem;
    }
  }
  .card1 {
    .btn {
      font-size: 0.9rem;
      padding: 8px;
    }
    .p {
      display: flex;
      justify-content: center;

      p {
        font-size: 0.8rem;
        font-weight: light;
        // text-align: justify;
        // text-overflow: clip;
      }
      max-width: 13rem;
      min-width: 8rem;
    }
    max-width: 16rem;
    min-width: 2rem;
    img {
      width: 18rem;
    }
  }
}
