<div class="container my-5" style="display: flex; flex-direction: column">
  <h2 class="text-center">My Projects</h2>
  <p class="text-center">
    shown below a few of the projects I've done both professionally and
    personally.
  </p>
  <div
    class="works d-flex justify-content-around"
    style="flex-direction: column"
  >
    <div class="code mycard">
      <h2>Programming Projects</h2>
      <div class="cont">
        <!-- project one  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="assets/Care.png"
                class="img-fluid rounded-start"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  Care Clinic Management Sytem
                </h5>
                <p class="card-text">
                  This is a web application that helps the care clinic to manage
                  their appointments,prescriptions,bill
                  generations,staffs,patients,medicines,labtests etc.
                </p>
                <p class="card-text text-center">
                  <a
                    href="https://github.com/sreehari4experion/careClinicManagementSystem"
                  >
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
        <!-- project two  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="assets/watch-netflix-in-australia.png"
                class="img-fluid rounded-start p-3"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  Netflix Clone
                </h5>
                <p class="card-text">
                  This is a web application that mimics OTT platform web app
                  netflix.
                </p>
                <p class="card-text text-center">
                  <a href="https://github.com/sreehariprathap/mynetflix">
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                  <a
                    class="p-4"
                    href="https://github.com/sreehariprathap/mynetflix"
                  >
                    <img
                      src="https://img.icons8.com/ultraviolet/40/000000/react--v1.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
        <!-- project two  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="assets//SW.png"
                class="img-fluid rounded-start p-3"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  Sleep well
                </h5>
                <p class="card-text">
                  An e commerce website that sells mattresses and bedding.
                </p>
                <p class="card-text text-center">
                  <a href="https://github.com/sreehariprathap/Sleep-Well">
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
        <!-- project two  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="assets/818943.png"
                class="img-fluid rounded-start p-3"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  The movie App
                </h5>
                <p class="card-text">
                  A React web app that fetches and displays the latest movies by
                  using tmdb api.
                </p>
                <p class="card-text text-center">
                  <a href="https://github.com/sreehariprathap/Sleep-Well">
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
        <!-- project two  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="assets/logo-4303138_1280.png"
                class="img-fluid rounded-start p-3"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  Pig Game
                </h5>
                <p class="card-text">
                  A simple game with html css and javascript
                </p>
                <p class="card-text text-center">
                  <a href="https://github.com/sreehariprathap/Sleep-Well">
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
        <!-- project two  -->
        <div class="card py-2 m-3">
          <div class="row g-0">
            <div class="col-md-4 p-2">
              <img
                src="assets/d8sdlty-5f3d4212-dff0-4243-98ef-3c9d88c16a9a.png"
                class="img-fluid rounded-start p-3"
                alt="..."
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title display-6" style="font-size: 1.4rem">
                  Guess game
                </h5>
                <p class="card-text">
                  A React web app that fetches and displays the latest movies by
                  using tmdb api.
                </p>
                <p class="card-text text-center">
                  <a href="https://github.com/sreehariprathap/Sleep-Well">
                    <img
                      src="https://img.icons8.com/bubbles/50/000000/github.png"
                    />
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end project one  -->
      </div>
      <div class="btn my-2">See All</div>
    </div>
    <div class="uiux mycard d-flex justify-content-around">
      <h2>UI/UX Designs</h2>
      <div>
        <!-- project one  -->
        <div class="card1 py-2 my-3 d-flex flex-row">
          <a href=""><img src="assets/edtube (1).png" alt="" /></a>
          <div class="content p-3">
            <h2>Edtube</h2>
            <p>
              edtube is an upcoming e learning platform that will help students
              to learn through online portal.
            </p>
            <button class="btn">View Detailed Portfolio</button>
          </div>
        </div>
        <!-- project one done  -->
        <!-- project one  -->
        <div class="card1 py-2 my-3 d-flex flex-row">
          <a href=""><img src="assets/edtube (2).png" alt="" /></a>
          <div class="p-3 content">
            <h2>Edtube Teachers</h2>
            <p>
              edtube is an upcoming e learning platform that will help students
              to learn through online portal.
            </p>
            <a class="btn" href="#">View Detailed Portfolio</a>
          </div>
        </div>
        <!-- project one done  -->
        <!-- project one  -->
        <div class="card1 py-2 my-3 d-flex flex-row">
          <a href=""><img src="assets/coderythm.png" alt="" /></a>
          <div class="p-3 content">
            <h2>Coderythm</h2>
            <p>
              Coderythm is an IT solutions company that provides IT solutions to
              the clients.
            </p>
            <button class="btn">View Detailed Portfolio</button>
          </div>
        </div>
        <!-- project one done  -->
      </div>
      <div class="btn my-2">See All</div>
    </div>
  </div>
</div>
